body{
  margin:0;
  padding:0;
  overflow: hidden;
}

.page{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.head{
  width: 100%;
  height: 5%;
  background-color: #222222;
  display:flex;
  align-content: center;
  justify-content: space-between;
  border-bottom: 2px solid white
}

.headButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2em;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
  max-height: 5%;
}

.headButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.headButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.headButton:hover span {
  padding-right: 25px;
}

.headButton:hover span:after {
  opacity: 1;
  right: 0;
}

.title{
  height: 100%;
}

.title h1{
  padding-left: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}

.menu{
  height: 100%;
  display:flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.menu a{
  padding: 0 10px;
  color:white;
  text-decoration: none;
}

.menu a:visited{
  color:white;
  text-decoration: none;
}

.menu a:hover{
  color:white;
  background-color: #555555;
}

.sidebar{
  width:25%;
  height: 90%;
  display:flex;
  flex-direction: column;
  background-color: #aaaaaa;
}

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
  background-color: lightslategrey;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  font-size: 1.2em;
  font-variant: small-caps;
  max-height: 5%;
  vertical-align: top;
}

.accordion:hover{
  transition: 0.2s;
  font-size: 1.5em;
}

.accordion:hover, .active{
  background-color: orange;
  color:black
}

.newCountry{
  display: none;
  text-align: center;
  font-size: 1.0em;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0;
  background-color:lightsteelblue;
  display:none;
  max-height: 40%;
  overflow: auto;
  transition: display 5s ease-out;
  border-radius: 0 0 20px 20px;
  margin-bottom: 0;
  font-size: 80%;
  text-align: justify;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
} 

.panel h5{
  text-align: center;
}
.intro{
  text-align: justify;
  max-height: 40%;
  color: white;
  font-weight: 900;
  overflow: auto;
  font-size: 90%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding:10px;
}

.intro::first-letter {
  font-size: 130%;
}

.content{
  width:75%;
  height: 90%;
  background-color: lightseagreen;
  font-size: 1.2em;
}

.aboutContent{
  width:75%;
  height: 90%;
  background-color: lightseagreen;
  font-size: 1.2em;
  overflow: auto;
}

.content h1, .sidebar h1{
  padding-left:20px;
  color: white;
  font-size: 1.5em;
  text-align: center;
  text-decoration: underline;
}
.content p{
  padding:10px;
  text-align: justify;
  color: white;
}

.w3-button{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  z-index: 11;
}

.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}

.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.w3-display-container{
  position: relative; 
}

.mySlides{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.slideTitle{
  background-color: #000;
  color: white;
  opacity: 0.5;
  font-size: 2em;
  text-align: center;
  margin:0;
  padding: 10px 0 0;
  height: 6%;
  vertical-align: middle;
}

.h2op{
  height: 100%;
}

.slideFooter{
  color:white;
  justify-content: space-between;
  flex-grow: 1;
  display: flex;
  overflow: visible;
  position: absolute;
  min-height: 6%;
  width: 100%;
  bottom:0;
  right:0;
}

.slideFooterHM{
  background-color: rgba(255,255,255,0.5);
}
.slideFooterWM{
  position: absolute;
}
.slideContent{
  flex-grow: 8;
  overflow: hidden;
}
.contactSlideContent{
  height: 94%;
}

.newCountryName{
  width:40%;
}

.newCountryName h4{
  margin:0;
}

.controller{
  width:60%;
  display:flex;
  justify-content: flex-end;
  padding-right:20px; 
}

.footer{
  width: 100%;
  height: 4%;
  background-color: #222222;
  border-top: 3px solid white;
  color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.footer p {
  margin: 0;
  padding-top: 3px;
}

.controller2{
  margin-right: 50px;
  display:none;
}

.contactContent{
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  list-style:none;
  color: white;
  height: 80%;
}

.contactContent li{
  width: 50%;
}
.contactContent li a img{
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: white
}

.sidebar a img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contactIntro{
  text-align: justify;
  color: white;
  font-weight: 900;
  overflow: auto;
  font-size: 90%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding:20px;
}

.contactIntro a{
  color:white;
  text-align: center;
  font-variant: small-caps;
  margin:10px;
  text-decoration: none;
}