body{
  margin:0;
  padding:0;
}

.page{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.head{
  width: 100%;
  height: 5%;
  background-color: #222222;
  display:flex;
  align-content: center;
  justify-content: space-around;
  border-bottom: 2px solid white
}

.title{
  height: 100%;
  width: 25%;
}

.title h1{
  padding-left: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}

.menu{
  width: 75%;
  height: 100%;
  display:flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.menu a{
  padding: 0 10px;
  color:white;
  text-decoration: none;
}

.menu a:visited{
  color:white;
  text-decoration: none;
}

.menu a:hover{
  color:white;
  background-color: #555555;
}

.sidebar{
  width:25%;
  height: 90%;
  display:flex;
  flex-direction: column;
  background-color: #aaaaaa;
}

.side-item{
  padding:10px;
  margin:5px;
}

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
  background-color: lightslategrey;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  font-size: 1.2em;
  font-variant: small-caps;
}

.accordion:hover{
  transition: 0.2s;
  font-size: 1.5em;
}

.accordion:hover, .active{
  background-color: orange;
  color:black

}

.newCountry{
  display: none;
  text-align: center;
  font-size: 1.2em;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0;
  background-color:lightsteelblue;
  display:none;
  height: 40%;
  overflow: auto;
  transition: display 5s ease-out;
  border-radius: 0 0 20px 20px;
  margin-bottom: 0;
  font-size: 1em;
  text-align: justify;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
} 

.panel h5{
  text-align: center;
}
.intro{
  text-align: justify;
  height: 30%;
  color: white;
  font-weight: 900;
  overflow: auto;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

.intro::first-letter {
  font-size: 150%;
}

.boutons{
  text-align: center;
  height: 70%;
  overflow: hidden;
}

.content{
  width:75%;
  height: 90%;
  background-color: lightseagreen;
}

.w3-button{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  z-index: 11;
}

.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}

.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.w3-display-container{
  position: relative; 
}

.mySlides{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.slideTitle{
  background-color: #000;
  color: white;
  opacity: 0.5;
  font-size: 2em;
  text-align: center;
  margin:0;
  padding: 10px 0 0;
  flex-grow: 1;
}

.slideFooter{
  color:white;
  justify-content: space-around;
  align-content: flex-end;
  flex-grow: 1;
  display: flex;
  overflow: visible;
}

.slideFooterHM{
  background-color: rgba(255,255,255,0.5);
}
.slideFooterWM{
  position: absolute;
}
.slideContent{
  flex-grow: 8;
  overflow: hidden;
}

.footer{
  width: 100%;
  height: 4%;
  background-color: #222222;
  border-top: 3px solid white;
  color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}