body{
  margin:0;
  padding:0;
}

.page{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.head{
  width: 100%;
  height: 5%;
  background-color: #222222;
  display:flex;
  align-content: center;
  justify-content: space-around;
  border-bottom: 2px solid white
}

.title{
  height: 100%;
  width: 25%;
}

.title h1{
  padding-top:10px;
  padding-left: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}

.menu{
  width: 75%;
  height: 100%;
  display:flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.menu a{
  padding: 0 10px;
  color:white;
  text-decoration: none;
}

.menu a:visited{
  color:white;
  text-decoration: none;
}

.menu a:hover{
  color:white;
  background-color: #555555;
}

.sidebar{
  width:25%;
  height: 90%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #aaaaaa;
}

.side-item{
  padding:10px;
  margin:5px;
  height: 25%;
}

.intro{
  text-align: center;
}
.pessimiste,.inclusive,.friendly{
  background-color: lightslategrey;
}

.pessimiste:hover,.inclusive:hover,.friendly:hover{
  color: white;
  border: 1px solid black
}

.content{
  width:75%;
  height: 90%;
  background-color: lightseagreen;
}

.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}

.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.w3-display-container{
  position:relative;
}

.mySlides{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slideTitle{
  background-color: #000;
  color: white;
  opacity: 0.5;
  font-size: 2em;
  text-align: center;
  margin:0;
  padding: 10px 0 0;
}

.slideFooter{
  color:white;
  background-color: rgba(0,0,0,0.5);
  justify-content: flex-end;
}

.footer{
  width: 100%;
  height: 4%;
  background-color: #222222;
  border-top: 3px solid white;
  color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}